@use "global" as *;


.room__inner {
        max-width: rem(600);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: $padding-sp;
        padding-right: $padding-sp;
        padding-top: rem(32);
        padding-bottom: rem(100);
    @include mq('md') {
        max-width: $inner;
        padding-left: $padding-pc;
        padding-right: $padding-pc;
        padding-bottom: rem(120);
    }
    @include mq('xl') {
        max-width: $inner2;
        padding-bottom: rem(150);
    }
}

.room__description {
    margin-top: rem(100);
}

.room__contents {
    @include mq('md') {
        margin-top: rem(-220);
    }
    @include mq('xl') {
        margin-top: rem(-230);
    }
}