@use "global" as *;


.close-btn {
    width: rem(18);
    height: rem(18);
    position: relative;
}

.close-btn span {
    width: 100%;
    height: rem(2);
    background-color: $border;
}

.close-btn span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(40deg);
}

.close-btn span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-40deg);
}
