@use "global" as *;


.footer {
    width: 100%;
    height: rem(50);
}

.footer__inner {
    text-align: center;
    background-color: $black;
    color: $white;
    padding: rem(15) 0;
}

.footer__inner small {
    font-size: 12px;
}