@use "global" as *;

.main-copy {
    position: absolute;
    z-index: 50;
    writing-mode: vertical-rl;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mq('md') {
        top: 55%;
        left: 70%;
    }
}
.main-copy__title {
    color: $white;
    line-height: 2; 
    letter-spacing: 0.5em;
    font-size: 20px;
    margin-left: rem(20);
    @include mq('xl') {
        font-size: 26px;
    }
}