@use "global" as *;

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2100;
}

.modal__wrap {
    border: 1px solid $border;
    background: #fff;
}

.modal__inner {
    max-width: rem(370);
    width: 100%;
    padding: rem(25) rem(30) rem(90);
    max-height: 680px;
    overflow: scroll;
    @include mq('md') {
        max-width: rem(500);
        max-height: 600px;
        overflow: initial;
    }
}
.modal__close-btn {
    text-align: right;
}

.modal__title {
    font-size: 18px;
    text-align: center;
}

.modal__table {
    border-top: 1px solid $line;
    margin-top: rem(26);
}

.modal__item1:first-child {
    margin-top: rem(32);
}

.modal__item1:not(:first-child) {
    margin-top: rem(12);
}

.modal__item2 {
    margin-top: rem(12);
    border: 1px solid $line;
    padding: rem(7) rem(10);
}  

.modal__btn {
    text-align: center;
    margin-top: rem(60);
}

.modal__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: none;
    background-color: rgba(255, 255, 255, 0.6);
}
