@use "global" as *;

.sp-nav__items {
    text-align: center;
    padding-top: rem(150);
    padding-bottom: rem(100);
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
}

.sp-nav__item a {
    display: block;
    padding: rem(20) 0;
    font-size: 18px;
    letter-spacing: 0.5em;
    color: $white;
}
